@import '../../assets/styles/variable';

.list {
  padding: 8px 0px;
  overflow: auto;
  height: calc(100% - 60px);
  .room {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    cursor: pointer;
    position: relative;
    width: 100%;
    i {
      margin-right: 10px;
    }
    .dot {
      position: absolute;
      bottom: 7px;
      left: 60px;
      color: green;
      font-size: 14px;
    }
    .dotNotif {
      position: absolute;
      bottom: 50%;
      top: 50%;
      right: 0px;
      font-size: 8px;
      transform: translate(-50%, -50%);
      color: red;
    }
    .user {
      flex: 1;
      width: 100%;
      p {
        margin: 0;
        &.name,
        &.message {
          font-size: 14px;
          font-weight: 400;
        }
        &.message {
          color: rgb(142, 142, 142);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 88%;
        }
      }
    }
    &:hover,
    &.active {
      background-color: rgb(239, 239, 239);
    }
  }
}

.right {
  height: 100%;
  display: flex;
  flex-direction: column;
  header {
    .room {
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        margin-right: 13px;
      }
      p {
        margin: 0px;
        &.name {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: rgb(38, 38, 38);
          font-weight: 600;
          font-size: 16;
        }
        &.email {
          color: rgb(142, 142, 142);
          font-weight: 400;
          font-size: 12px;
        }
      }
    }
  }
  .listChat {
    padding: 20px 20px 0px 20px;
    height: calc(100% - 160px);
    overflow: auto;
    .container {
      display: inline-block;
      width: 100%;
      .sperator {
        text-align: center;
        color: rgb(142, 142, 142);
        font-weight: 400;
        font-size: 12px;
        margin-bottom: 8px;
      }
      .chat {
        width: fit-content;
        max-width: 90%;
        background-color: rgb(239, 239, 239);
        border: 1px solid rgb(239, 239, 239);
        border-radius: 7.5px;
        padding: 6px 7px 8px 9px;
        margin-top: 4px;
        margin-bottom: 4px;
        white-space: pre-line;
        display: flex;
        align-items: flex-end;
        span {
          margin-left: 8px;
          font-size: 10px;
        }
      }
    }
  }
  footer {
    padding: 20px;
    .inputMessage {
      display: flex;
      align-items: flex-end;
      border: 1px solid rgb(219, 219, 219);
      border-radius: 22px;
      padding: 8px 12px;
      padding-left: 20px;
      font-size: 100%;
      .textArea {
        min-height: 38px;
        display: flex;
        align-items: center;
        flex: 1;
        textarea {
          flex: 1;
          border: none;
          outline: none;
        }
      }
    }
  }
}

.outRoom {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .icon {
    font-size: 90px;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    border: 2px solid rgb(38, 38, 38);
    margin-bottom: 12px;
    i {
      margin-top: 25%;
      margin-left: 20%;
    }
  }
  p {
    margin-bottom: 0px;
    &.title {
      color: rgb(38, 38, 38);
      font-weight: 300;
      font-size: 22px;
    }
    &.desc {
      margin-top: 12px;
      margin-bottom: 24px;
      color: rgb(142, 142, 142);
      font-weight: 400;
      font-size: 14px;
    }
  }
}

.rowAddUser {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  margin-bottom: 12px;
  .userAd {
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    border-radius: 12px;
    background-color: $primary;
    color: white;
    display: flex;
    align-items: center;
    button {
      color: white;
      padding: 0px;
      margin-left: 12px;
    }
  }
}
.listUser {
  .user {
    border-bottom: 1px solid rgb(250, 250, 250);
    margin-bottom: 6px;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    i {
      font-size: 44px;
      margin-right: 12px;
    }
    p {
      color: rgb(38, 38, 38);
      margin-bottom: 0px;
    }
    span {
      color: rgb(142, 142, 142);
    }
    &:hover {
      background-color: rgb(250, 250, 250);
    }
  }
}

.profilePopUp {
  display: flex;
  align-items: center;
  i {
    margin-right: 12px;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .title {
    font-size: 18px;
    font-weight: 700;
  }
  p {
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 12px;
  }
}
